DB_FILE=./db/database.sqlite
PORT=3000
SESSION_SECRET=changez_ce_secret_en_production
ADMIN_DEFAULT_EMAIL=admin@collegelacite.ca
ADMIN_DEFAULT_PASSWORD=Admin123!
PASSAGER_DEFAULT_EMAIL=passager@collegelacite.ca
CONDUCTEUR_DEFAULT_EMAIL=conducteur@collegelacite.ca
